@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'rsuite/dist/rsuite.min.css';
@import 'react-tooltip/dist/react-tooltip.css';
@import "tailwindcss/tailwind.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a:hover,
a:focus,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

code {
  font-family: 'Inter';
}

::-webkit-scrollbar {
  display: none;
}

/* Ajustado para modal */
#modal-root {
  z-index: 9999;
}

input, textarea, select{
  outline: none;
  &:focus-visible{
    outline: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active{
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: #ffffff; */
    background-color: transparent !important; 
  }
}

@media (min-width: 640px) {
  .max-w-lg {
    max-width: 640px;
  }
}

:focus:not([data-focus-visible-added]) {
  outline: none;
}

[data-focus-visible-added] {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.dark {
  input, textarea, select{
    outline: none;
    &:focus-visible{
      outline: none;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
      background-color: transparent !important; 
    }
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .bg-dark-perso.rmdp-wrapper,
  .bg-dark-perso .rmdp-month-picker,
  .bg-dark-perso .rmdp-year-picker,
  .bg-dark-perso .rmdp-time-picker div input,
  .rmdp-container .bg-dark-perso.ep-arrow::after {
    background-color: #1f2937;
    color: #c4c7ca;
  }

  .bg-dark-perso .rmdp-day:not(.rmdp-deactive),
  .bg-dark-perso .rmdp-time-picker div .rmdp-am,
  .bg-dark-perso .rmdp-header-values,
  .bg-dark-perso .rmdp-panel-header {
    color: #c4c7ca;
  }

  .bg-dark-perso .rmdp-day.rmdp-range {
    color: white;
  }

  .bg-dark-perso .rmdp-panel-body li {
    color: #f5f5f5;
  }

  .bg-dark-perso .rmdp-day.rmdp-deactive,
  .bg-dark-perso .rmdp-day.rmdp-disabled {
    color: #87898b;
  }

  .rmdp-container .bg-dark-perso.ep-arrow[direction="top"] {
    border-bottom: 1px solid #312f2f;
  }

  .rmdp-container .bg-dark-perso.ep-arrow[direction="left"] {
    border-right: 1px solid #312f2f;
  }

  .rmdp-container .bg-dark-perso.ep-arrow[direction="right"] {
    border-left: 1px solid #312f2f;
  }

  .rmdp-container .bg-dark-perso.ep-arrow[direction="bottom"] {
    border-top: 1px solid #312f2f;
  }

}